.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@font-face{
  font-family: poppins;
  src: url(./Poppins-Regular.ttf);
  
}

*{
  padding: 0;
  margin: 0;
  font-family: poppins;
  font-size: 28px;
  
}
body{
  background-color: rgb(243, 156, 125);

}
.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
}
h1{
  font-size:40px;
}
h3{
  font-size: 20px;
  padding-bottom: 40px;
}
.plan p{
  color: #ccc;
  font-size: 20px;
}

.togle{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 40px;
 
}
.switch{
  border-radius: 25px;
  box-shadow: 0 0 10px 2px rgb(62, 62, 58);;
}
.plan{
  display: flex;
  gap: 40px;

 
} 
.basic{
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 400px;
  min-width: 230px;
}
.professional{
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 400px;
  min-width: 230px;
}
.master{
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 400px;
  min-width: 230px;
}
button{
  border-radius: 25px;
  padding:5px 25px;
  color: aliceblue;
  font-size: 25px;
}
.button{
  padding: 30px 20px 10px 20px;
}
.master button{
  background-color:rgb(243, 169, 10) ;
  box-shadow: 0 0 20px 2px rgb(255, 204, 0);;
  border: solid rgb(243, 169, 10);
}
.basic button{
  background-color:rgb(91, 215, 112);
  box-shadow: 0 0 20px 2px rgb(91, 215, 112);
  border: solid rgb(91, 215, 112);
}
.professional button{
  background-color: rgb(205, 46, 102);
  box-shadow: 0 0 20px 2px rgb(205, 46, 102);
  border: solid rgb(205, 46, 102);
}
.basic:hover{
  transform: scale(1.05);
}
.master:hover{
  transform: scale(1.05);
}
.professional:hover{
  transform: scale(1.05);
}
@media screen and (max-width:950px){
  .plan{
    flex-direction: column;
    align-items: center;
     gap: 30px;
   justify-content: center;
  
  }
  .parent{
    text-align: center;
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  
}
